<mat-expansion-panel class="painel zh-mb-20">

    <mat-expansion-panel-header class="zh-d-flex zh-justify-self-right">
        <p>Posso trocar de Cuidador?</p>
        <mat-icon>add</mat-icon>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        Sim, apesar de termos um índice de 95% de eficácia e assertividade na indicação dos profissionais, é possível realizar a
        troca quantas vezes forem necessárias.
    </ng-template>

</mat-expansion-panel>

<mat-expansion-panel class="painel zh-mb-20">

    <mat-expansion-panel-header>
        Posso trocar de Cuidador?
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        Sim, apesar de termos um índice de 95% de eficácia e assertividade na indicação dos profissionais, é possível
        realizar a
        troca quantas vezes forem necessárias.
    </ng-template>

</mat-expansion-panel>

<mat-expansion-panel class="painel zh-mb-20">

    <mat-expansion-panel-header>
        Posso trocar de Cuidador?
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        Sim, apesar de termos um índice de 95% de eficácia e assertividade na indicação dos profissionais, é possível
        realizar a
        troca quantas vezes forem necessárias.
    </ng-template>

</mat-expansion-panel>

