.app {
    width: 1200px;
    margin: 0 auto;
}

h2{
    color: #3896bc;
    font-size: 1.5em;
    margin-bottom: 32px;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
    max-width: 1000px !important;

    .mat-content {
        max-width: 1000px !important;
    }
}

.app {
    max-width: 1200px;
    margin: 0 auto;
}

