<header>
    <div class="nav">
        <div class="nav-bar zh-ms-40">
            <img src="../../../../../assets/imagens/logo cuidados.png" width="220" alt="logo" class="logo">
            <div class="phone">
                <p class="zh-mt-44 zh-me-24 color-PrimaryDark">(11) 3855-1701</p>
                <button mat-raised-button color="primary" class="btn">Fale com um consultor</button>
            </div>
        </div>


        <div class="texto zh-ms-40 zh-mt-80">
            <h2> Procura Cuidadores de idosos confiavéis Treinados e Confiáveis?</h2>
            <p><span>A Levens é a solução para famílias que estão cansadas
            de gerenciar todo o cuidado do idoso</span> ou para quem tem uma <span>demand
            urgente e não tem ideia de onde conseguir Cuidadores ou Profissionais
            de Enfermagem de confiança e credibilidade.</span></p>
            <div class="zh-ms-40">
                <button mat-raised-button color="primary" class="btn">Solicite um orçamento</button>
            </div>
        </div>
       
    </div>
    <div class="arrow">
        <a href=" ">
        <mat-icon class=" icon backgroundBlue zh-mt-20 zh-mb-20">expand_more</mat-icon>
        </a>
    </div>
</header>