/* You can add global styles to this file, and also import other style files */
@import 'app/utils/styles/color.scss';
@import 'app/utils/styles/helper.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.app {
    width: 1060px;
    margin: 0 auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h2 {
    color: #3896bc;
    font-size: 2em;
    margin-bottom: 32px;
    text-align: center;
}
